.updateContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  display: flex;
  align-items: center;
  color: #fff;
}

form{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}
.mat-inputs{
  width: 100%;
}

input[type="text"], textarea {
  color : #d1d1d1; 
}

button:first-child{
  margin-right: .5rem;
}

@media(max-width: 700px){
  form{
    width: 90%;
  }
}