<h1 mat-dialog-title>Nova Anotação <mat-icon>assignment_turned_in</mat-icon></h1>

<div mat-dialog-content>
  <form [formGroup]= "form">

    <mat-form-field class="mat-inputs">
        <mat-label>Título</mat-label>
        <input type="text" matInput formControlName="title">
        <mat-hint align="end">Mínimo 3 letras</mat-hint>
    </mat-form-field>

    <mat-form-field class="mat-inputs">
        <mat-label>Anotação</mat-label>
        <textarea matInput formControlName="body"></textarea>
        <mat-hint align="end">Mínimo 10 letras</mat-hint>
    </mat-form-field>
    
  </form>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button (click)="cancel()" color="warn">Cancelar</button>
  <button mat-raised-button (click)="addNote()" color="accent" [disabled]="form.invalid">Ok</button>
</div>
