.example-spacer {
    flex: 1 1 auto;
}
.layout-box{
    height: 100%;

    overflow: hidden;
}
.title{
    font-size: 1.5rem;
}

.text{
    font-size: 1rem;
}

mat-toolbar{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.page-content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}