<form [formGroup]= "form">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title">
    </mat-form-field>
            <!-- ?<small *ngIf="form.controls.title.invalid && !form.controls.title.pristine" class="danger">*Este campo deve conter entre 3 e 45 caracteres</small> -->
    <mat-form-field appearance="fill">
        <mat-label>Note</mat-label>
        <textarea matInput formControlName="body"></textarea>
    </mat-form-field>
    
</form>