.form-container{
    max-width: 500px;
    margin: auto;
    margin-top: 1rem;
}

input, textarea{
    width: 100%;
    background-color: rgba(219, 215, 215, .5);
    border: none;
    border-radius: .2rem;
}

input{
    height: 1.5rem;
    line-height: 1.4rem;
}

textarea{
    height: 5rem;
}

.control{
    margin-bottom: .5rem;
}