.main-container{
    display: flex;
    flex-direction: column;

    max-width: 500px;

    margin: auto;
    padding-top: 2rem;
}

.input{
    width: 500px;
}

app-note-card{
    display: block;
    margin-bottom: 10px;
}